html{
    font-size: clamp(14px, 1.2vw, 24px)
}

body{
background-color: #EBD5CA;
font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    margin-top: 60px;
    font-family: inter, arial, serif ;
    font-size: 3rem;
}
h2{
    font-size: 2rem;
    font-family: inter, arial, serif;
}
h3{
    font-size: 1.3rem;
    font-family: inter, arial, serif;
}
h4{
    font-size: 1.3rem;
    font-family: inter, arial, serif;
}
.card {
    width: 90%;
    max-width: 300px;
    height: 450px;
   margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("interstellar.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.movie-info {
    color: white;
    padding: 30px;
    opacity: 0;
    text-align: center;
}
p{
    line-height: 1.5;
    font-size: 1rem;
}
.overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0);

    color: white;
    position: absolute;
    top: 0;
    left: 0;
}
.card:hover .overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.card:hover .movie-info {
    opacity: 1;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 30px;
    justify-content: center;
}
.pianist {
    width: 300px;
    height: 450px;

    background-image: url("The_Pianist_movie.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.thegreenmile {
    width: 300px;
    height: 450px;

    background-image: url("The green mile.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.Thenotebook {
    width: 300px;
    height: 450px;
    background-image: url("The notebook.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.Abeautifulmind {
    width: 300px;
    height: 450px;
    background-image: url("ABeautifulMind.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.Schindlerslist {
    width: 300px;
    height: 450px;
    background-image: url("schindlers list.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.Amélie {
    width: 300px;
    height: 450px;
    background-image: url("Amelie.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.Forestgump {
    width: 300px;
    height: 450px;
    background-image: url("Forest Gump.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.Shawshank {
    width: 300px;
    height: 450px;
    background-image: url("Shawshank.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
@media (max-width: 700px) {

    .gallery {
        grid-template-columns: 1fr;
    }
    }

